{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/table.html' import render_table %}}

{% block title %}宾馆查询{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>宾馆查询</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>

    <div style="margin-top: 50px">
        {% if hotels %}
            {{ render_table(hotels, [('location', '位置'), ('name', '宾馆名称'), ('total_rooms', '房间总数'),
                                   ('avail_rooms', '可用出房间数'), ('price', '价格')]) }}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
