{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/table.html' import render_table %}}

{% block title %}旅行线路{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>用户 {{ user.name }} 的旅行线路</h1>
        </div>
    </div>

    <div class="row h-100 justify-content-center align-items-center" style="margin-top: 100px">
        {% if routes %}
            {{ routes }}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
